.blogLink, .readMore {
    text-decoration: none;
    color: var(--main);
    line-height: 0
}

.blogContainer {
    margin: 2% 0;
    display: flex;
    overflow: hidden;
}

.readMore:hover {
    text-decoration: none;
    color: var(--secondary);
}

.blogLink:hover {
    color: var(--secondary)
}


.blogImage {
    max-width: 15vw;
    min-height: 20vh;
    max-height: 20vh;
    margin: auto 3% 3% 0;
    box-shadow: 5px 5px 5px var(--main);
    z-index: 10;
}

.textSection {
    max-width: 70%;
    margin: auto 0;
}
