.headingThick {
    color: var(--main);
    font-weight: 900; 
}

.titleThick {
    color: var(--main);
    font-size: 2.5em;
}

.titleThick > span {
    color: var(--secondary);
    font-size: inherit;
}

.coverSection {
    height: 100%
}

.vertContainer {
    display: flex;
    align-items: center;
    margin: 10% auto 30%;
}
.iconButton {
    color: var(--main);
    font-size: 2rem;
    padding-right: 1.5%;
}

.iconButton:hover {
    color: var(--secondary)
}

.profile {
    border-radius: 50%;
    max-height: 20vw;
    width: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    display: flex;
}

.titleDesc {
    max-width: 65%;
}