.contentContainer {
    margin: 0% 20% 5% 20%;
    height: 100%;
    top: 0;
}

.bodyContainer {
    top: 0;
    position: absolute;
}

.mainNav {
    position: sticky;
    top: 0;
    z-index: 100;
}