.navButton {
    color: var(--main);
    font-size: large;
    padding: 2% 2%;
    text-decoration: none;
    font-weight: bolder;
}

.navButton:hover {
    color: var(--secondary)
}

.navBar {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.logoButton {
    font-size: large;
    text-decoration: none;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2%;
}

.logoIcon {
    max-width: 10%;
}

.logoIcon:hover {
    opacity: 75%;
}