.navButton {
    color: var(--main);
    font-size: large;
    padding: 2% 2%;
    text-decoration: none;
}

.navButton:hover {
    color: var(--secondary)
}

.navBar {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 10%;
}
